<div class="container">
  <div class="jumbotron" style="margin-top: 50px;">
    <h1 style="text-align: center;">Bem-Vindo ao ListaVIP</h1>
    <p></p>
    <p style="text-align: center;"> Vai fazer festa?? Convide seus amigos agora!!</p>
    <p></p>
    <div style="text-align: center;">
      <a [routerLink]="['/convidado']" class="btn btn-lg btn-primary">Clique aqui para cadastrar um convidado!</a>
    </div>
    <p></p>
    <div style="text-align: center;">
      <a [routerLink]="['/lista-convidado']" class="btn btn-lg btn-primary">Clique aqui para ver a lista de
        convidados!</a>
    </div>
  </div>
</div>
